*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header {
    height: 100px;
    width: 210vh;
    background: rgb(0,190,228);
    background: linear-gradient(90deg, rgba(0,190,228,1) 25%, rgba(0,190,228,1) 35%, rgba(0,190,228,1) 45%, rgba(0,190,228,1) 55%, rgba(0,135,162,1) 66%, rgba(0,42,51,1) 82%);
    display: flex;
    position: fixed;
}
header ul li {
        margin: 45px 50px 15px 45px;
        list-style: none;
        display: flex;
        text-decoration: none;
}
header ul{
    list-style: none;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin-left: -11rem;
}
header p {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 11%;
    margin-top: 1vh;
    margin-left: 0;
}
.p0 {
    padding: 15vh 0px 0px 0px;
}
header ul li a {
    color: #ffffff;
    padding: 0;
    text-decoration: none;
    transition: all 0.6s;
    width: 100%;
    display: block;
}

h1, p {
   text-align: justify;
   display: flex;
   flex-direction: column;
   align-items: center; 
   margin: 0px 150px 13px 150px;
}

p {
    padding: 1rem;
}
.m {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    margin: 1rem;
    border: 2px solid #232323;
}