nav{
   position: absolute;
   top: 100px;
   left: 180px;
   margin:50px;
   padding:50px;  
   background-color: blue;
}
nav2{
   position:absolute;
   top: 480px;
   left: 290px;
   margin:50px;
   padding:50px;
   background-color: red;
}
nav3{
   position:absolute;
   top: 151px;
   left: 765px;
   margin: 50px;
   padding: 50px;
   background-color: aqua;
}
nav4{
   position:absolute;
   top: 287px;
   left: 500px;
   margin:50px;
   padding:50px;
   background-color: yellow;
}
nav5{
   position:absolute;
   top: 67px;
   left:1050px;
   margin:50px;
   padding:50px;
   background-color: black;
}
nav6{
   position :absolute;
   top: 500px;
   left:999px;
   margin:50px;
   padding:50px;
   background-color: chocolate;
}
header {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}